body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 2rem 2rem #eee;

    margin: 25px;
    padding: 25px;
    line-height: 1.1;
    background: white;
    box-shadow: 0 0 2rem 2rem #eee;
    max-width: 1600px;
    box-sizing: border-box;
}
  /* p {
    border: solid 1px black;
    vertical-align: middle;
  } */

/* UI element formatting*/

button{
  font-size: 1em;
  border-color: #04AA6D;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #04AA6D;
  color: white;
}

/* switch formatting from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
  vertical-align: middle;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #04AA6D;
}

input:focus + .slider {
  box-shadow: 0 0 1px #04AA6D;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input:disabled + .slider {
  cursor: not-allowed;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input[type='radio'] {
  accent-color: #04AA6D;
  height: 30px; 
  width: 30px;
  vertical-align: middle;
  margin: 5px;
}


/* Structure formatting */
#demo {
  display: inline;
}

#nodemodisplay {
  display: none;
}

/* If the page is really small */
 @media only screen and (max-width: 900px) {
    body {
      box-shadow: none;
      margin: 0;
    }
    #demo {
        display: none;
    }
    #nodemodisplay {
        display: inline;
    }
  }
  
  /* If the page is really big! */
  @media only screen and (min-width: 1700px) {
    body {
      margin: 50px auto;
    }
  }

header {
    border-bottom: 3px solid #ddd;
}

footer {
    opacity: 0.6;
    border-top: 3px solid #ddd;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: right;
    font-size: 10pt;
  }